
.idea/vcs.xml
.idea/NESRR.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
data/*
part3/__pycache__/config.cpython-310.pyc
part1/data_extractor_output/dummy_data.csv
part4/embedding_extractor_output/dummy_embeddings.out
part4/embedding_extractor_output/embeddings.out
archive/*
